[user]
	name = DoctorDalek1963
	email = 69600500+DoctorDalek1963@users.noreply.github.com
	signingKey = 91089581EE7BBF6B
[core]
	editor = nvim
[init]
	defaultBranch = main
[alias]
	a = add
	aa = add -A
	ae = add -e
	aea = add -e -A
	ap = add -p
	apa = add -p -A
	br = branch
	c = commit
	ca = commit -a
	cam = commit -a -m
	cane = commit --amend --no-edit
	cm = commit -m
	co = checkout
	fixm = commit --amend
	l = log
	la = log --all --decorate
	last = log -1 HEAD
	lg = log --all --decorate --oneline --graph
	lo = log --oneline
	pfwl = push --force-with-lease
	puom = push -u origin main
	sh = show
	st = status
	sw = switch
	unstage = restore --staged
	uncommit = reset --soft HEAD~1
[filter "nousagecount"]
	clean = grep -v "usageCount" %f
	smudge = cat
[filter "nostore"]
	clean = cat %f | tr "\\n" "·" | sed 's/"store": {[^{}]*},//g' | tr "·" "\\n"
	smudge = cat
[pull]
	rebase = false
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[push]
	followTags = true
[fetch]
	prune = true
