" Set the mapleader
let mapleader = '\'

syntax on
filetype indent plugin on

" ########## SET THINGS ##########

set number relativenumber " set number options
set ruler
set ignorecase hlsearch incsearch " set search options

" Always use 4 spaces when tab is pressed
set tabstop=4 " 4 spaces per tab
set shiftwidth=4
set expandtab

set foldenable
set foldmethod=indent

" ########## CUSTOM SIMPLE FUNCTIONS ###########

" Remove all trailing spaces
" This is the only way this command seems to work. It angers me.
command Rmsp execute "silent %s/ * $//g | noh"
" Convert tabs to spaces
command Tb2sp execute "silent %s/\t/    /g | noh"
" Convert spaces to tabs
command Sp2tb execute "silent %s/    /\t/g | noh"

" Fully clean up file
command Clean execute "Tbcnv | Rmsp"

" ########## MAPPINGS ###########

" Toggle folding with space
nmap <space> za

" ########## AUTOMATIC COMMANDS ##########

" Open all folds by default
" Triggers on buffer read, matches all files, and executes 'zR' in normal mode
au BufRead * normal zR
