" Set the mapleader
let mapleader = '\'

set ideajoin

syntax on
filetype indent plugin on

" ########## SET THINGS ##########

set number relativenumber " set number options
set ruler
set ignorecase smartcase hlsearch incsearch " set search options

" Always use 4 spaces when tab is pressed
set tabstop=4 " 4 spaces per tab
set shiftwidth=4
set noexpandtab

" Use spaces instead of tabs in Python files
autocmd FileType python set expandtab

set foldenable
set foldmethod=indent

set scrolloff=2

" ########## MAPPINGS ###########

" Easier 4 directional navigation
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l

" Duplicate line with Ctrl+D
nnoremap <C-d> yyp

" Toggle folding with space
nnoremap <space><space> za
nnoremap <leader><space> zA

" Write current file
nnoremap <leader>w :w<Enter>
nnoremap <leader><leader> :w<Enter>

" Add a semicolon or comma to the end of a line
nnoremap <leader>; mqA;<esc>`q
nnoremap <leader>, mqA,<esc>`q

" Remove search highlight
nnoremap <leader>n :nohlsearch<cr>
